fastapi
uvicorn
langchain
langchain-community
langchain-groq
langgraph
openai
chromadb
pydantic
feedparser
groq
python-dotenv
langchain-huggingface
schedule
requests
yfinance
pandas
numpy
sentence-transformers
newspaper3k
lxml_html_clean
